@mixin light {
  --theme-base: #fff;
  --theme-font: #333;
  --theme-accent: #339af0;
  --theme-bg: #f4f4f7;
}

@mixin dark {
  --theme-base: #333;
  --theme-font: #fff;
  --theme-accent: #339af0;
  --theme-bg: #333;
}

:root {
  @media (prefers-color-scheme: light) {
    @include light();
  }
  @media (prefers-color-scheme: dark) {
    @include dark();
  }
}

.light-mode {
  @include light();
}

.dark-mode {
  @include dark();
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Source Sans', sans-serif;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-font);
}

.fade {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
